.newsletter{
    width: 65%;
    height: 45vh;
    display: flex;flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 140px;
    background-color:#fde1ff ;
    margin: auto;   
    gap: 20px;
    border-radius: 10px;
}
.newsletter h1{
    font-size: 30px;
    font-weight: 400;
    font-weight: 500;
}
.newsletter p{
    font-size: 15px;
}
.Newin{
    display: flex;flex-wrap: wrap;
    gap: 1px;
    align-items: center;
}
.Newin input{
   height: 30px;
   width: 440px;
   text-align: center;
   border: 1px solid black;
   border-radius: 0px;
}
.Newin button{
    height: 33px;
    width: 150px;
    font-weight:bolder;
    border-radius: 30px;
    background-color: black;
    color: white;
}
.Newin button:hover{
    cursor: pointer;
    background-color:red;
    color: white;
}