*{
    margin: 0;
    padding: 0;
}

   
.Hmain{ 
    display: flex; flex-wrap: wrap; 
    height: 100vh;
    /* color: red; */
    background-color: linear-gradient(180deg,#fde1ff,#e1ffea22 100%);
    background-color:#fde1ff ;
    justify-content: space-evenly;
    gap: 50px;
}

.head-left{
    display: flex;flex-wrap: wrap;
    flex-direction: column;
    gap: 10px;
   margin-top:50px ;
}
.head-left p{
    font-size: 20px;
    font-weight: bolder;
    
}
.hand-icon img{
    height: 70px;
    width: 70px;
}
.head-left .para p{
    font-size: 40px;
    color: rgb(6, 6, 69);
}
.latestB {
    margin-left: 27px;
    display: flex;flex-wrap: wrap;
    background-color: red;
    width: 190px;
    height: 40px;
    padding:5px;
    border: 1px solid white;
    border-radius: 30px;
    color: white;
    font-weight: bolder;
  align-items: center;
  justify-content: center;
  gap: 10px;

}
.latestB img {
  height: 20px;
  width: 20px;
  color: antiquewhite;
  padding-left: 2px;

}
.latestB :hover{
    transform: scale(1.1);
    transition: 0.6s;
    cursor: pointer;
}